.pcdisplay {
  display: none!important;
}
.finance_iconBox {
  width: 100%;
  height: 1.4rem;
  padding: 0 0.3rem;
}
.finance_iconBox > .iconBox_left {
  float: left;
  margin-top: 0.4rem;
}
.finance_iconBox > .iconBox_left > img {
  height: 0.6rem;
}
.finance_iconBox > .iconBox_right {
  font-family: PingFangSC-Regular;
  width: 2.3rem;
  float: right;
  margin-top: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.finance_iconBox > .iconBox_right > span {
  font-family: PingFangSC-Regular;
  font-weight: bold;
  font-size: 0.3rem;
}
.finance_iconBox > .iconBox_right .en_btn {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background: url("../../img/en.png") no-repeat center center;
  background-size: cover;
}
.finance_iconBox > .iconBox_right > img {
  width: 0.5rem;
}
.finance_title {
  height: 2.5rem;
  background: url('../../img/bg.png') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  line-height: 2.5rem;
  text-align: center;
  font-size: 0;
}
.finance_title > div {
  display: inline-block;
  line-height: 0.52rem;
  position: relative;
}
.finance_title > div span {
  letter-spacing: 0.02rem;
  font-size: 0.4rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #ffffff;
}
.finance_title > div span:nth-child(2) {
  width: 0.36rem;
  height: 0.05rem;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -0.18rem;
}
.finance_title span:nth-child(2) {
  border-bottom: 5px solid #fff;
}
.finance_navtext,
.finance_content {
  margin: 0.2rem 0.3rem 0;
}
.finance_navtext > span {
  color: #666666;
  font-family: PingFangSC-Regular;
  font-size: 0.24rem;
  font-weight: bold;
  margin-right: 0.2rem;
}
.finance_navtext > span > img {
  width: 0.16rem;
}
.finance_content {
  margin-bottom: 1.2rem;
}
.finance_content > .content_title {
  letter-spacing: 0.02rem;
  font-size: 0.36rem;
  font-weight: bold;
  height: 0.8rem;
  line-height: 0.8rem;
  border-bottom: 0.02rem solid #CCCCCC;
}
.finance_foot {
  width: 7.5rem;
  height: 7.02rem;
  background: #2e2d2f;
  font-size: 0;
  position: relative;
}
.finance_foot > img {
  width: 2.3rem;
  height: 1.79rem;
  position: absolute;
  top: 0.7rem;
  left: 50%;
  transform: translateX(-50%);
}
.finance_foot > div:nth-of-type(1) {
  position: absolute;
  top: 2.79rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.finance_foot > div:nth-of-type(1) div {
  height: 0.33rem;
  font-size: 0.24rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.1rem;
  color: #9d9d9d;
  line-height: 33px;
}
.finance_foot > div:nth-of-type(1) div:last-of-type {
  margin-bottom: 0;
}
.finance_foot > div:nth-of-type(2) {
  position: absolute;
  width: 100%;
  height: 0.33rem;
  font-size: 0.24rem;
  font-weight: 400;
  color: #9d9d9d;
  line-height: 0.33rem;
  text-align: center;
  top: 5.6rem;
}
.finance_foot > div:nth-of-type(2) div:nth-of-type(1) {
  position: absolute;
  left: 2.1rem;
  top: 0;
}
.finance_foot > div:nth-of-type(2) div:nth-of-type(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 0.3rem;
  top: 0;
  padding: 0 0.1rem;
}
.finance_foot > div:nth-of-type(2) div:nth-of-type(2):after {
  z-index: 11;
  position: absolute;
  content: '';
  width: 0.02rem;
  height: 0.27rem;
  background: #9d9d9d;
  top: 0.02rem;
  left: 1.15rem;
}
.finance_foot > div:nth-of-type(2) div:nth-of-type(2):before {
  z-index: 11;
  position: absolute;
  content: '';
  width: 0.02rem;
  height: 0.27rem;
  background: #9d9d9d;
  top: 0.02rem;
  left: -0.01rem;
}
.finance_foot > div:nth-of-type(2) div:nth-of-type(3) {
  position: absolute;
  right: 2.1rem;
  top: 0;
}
.finance_foot > div:nth-of-type(3) {
  width: 100%;
}
.finance_foot > div:nth-of-type(3) > div:nth-of-type(1) {
  position: absolute;
  height: 0.76rem;
  border-bottom: 0.01rem solid #434244;
  border-top: 0.01rem solid #434244;
  width: 100%;
  text-align: center;
  line-height: 0.74rem;
  top: 4.7rem;
}
.finance_foot > div:nth-of-type(3) > div:nth-of-type(1) > img {
  width: 0.6rem;
  height: 0.6rem;
}
.finance_foot > div:nth-of-type(3) > div:nth-of-type(1) img:nth-of-type(2) {
  margin: 0 1rem;
}
.finance_foot > div:nth-of-type(3) > div:nth-of-type(2) {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 0.28rem;
  font-size: 0.2rem;
  font-weight: 400;
  color: #666666;
  line-height: 0.28rem;
  top: 6rem;
}
.navigation {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
}
.navigation .nav_title {
  width: 100%;
  height: 1.4rem;
  position: relative;
  margin-bottom: 0.5rem;
}
.navigation .nav_title > img:nth-child(1) {
  height: 0.6rem;
  position: absolute;
  top: 50%;
  margin-top: -0.3rem;
  left: 0.3rem;
}
.navigation .nav_title > img:nth-child(2) {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  top: 50%;
  margin-top: -0.25rem;
  right: 0.36rem;
}
.navigation .navigation_lis {
  font-size: 0;
  width: 100%;
}
.navigation .navigation_lis > div:nth-child(1) {
  height: 1.26rem;
  text-align: center;
  line-height: 1.26rem;
  position: relative;
}
.navigation .navigation_lis > div:nth-child(1) > div {
  display: inline-block;
  font-size: 0.32rem;
  font-weight: 500;
  color: #ffffff;
  position: relative;
}
.navigation .navigation_lis > div:nth-child(1) > div > div {
  width: 100%;
  height: 100%;
}
.navigation .navigation_lis > div:nth-child(1) > div > img {
  width: 0.28rem;
  height: 0.16rem;
  position: absolute;
  top: 50%;
  margin-top: -0.08rem;
  right: -0.64rem;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari 和 Chrome */
  -o-transition: all 0.5s;
  /* Opera */
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
}
.navigation .navigation_lis > div:nth-child(1):after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #EDEDED;
  color: #e5e5e5;
  -webkit-transform-origin: 0 1px;
  transform-origin: 0 1px;
  -webkit-transform: scaleY(0.4);
  transform: scaleY(0.4);
  z-index: 2;
}
.navigation .navigation_lis > div:nth-child(2) {
  display: none;
}
.navigation .navigation_lis > div:nth-child(2) > div {
  height: 1rem;
  font-size: 0.28rem;
  color: #ffffff;
  line-height: 1rem;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  position: relative;
}
.navigation .navigation_lis > div:nth-child(2) > div:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #EDEDED;
  color: #e5e5e5;
  -webkit-transform-origin: 0 1px;
  transform-origin: 0 1px;
  -webkit-transform: scaleY(0.4);
  transform: scaleY(0.4);
  z-index: 2;
}
.navigation .navigation_search {
  height: 3rem;
  padding-top: 0.5rem;
}
.navigation .navigation_search > div {
  width: 6.9rem;
  margin: 0 auto;
  height: 0.6rem;
  position: relative;
}
.navigation .navigation_search > div > input {
  width: 100%;
  height: 100%;
  border: 0.02rem solid #fff;
  border-radius: 0.3rem;
  color: #fff;
  font-size: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.navigation .navigation_search > div > img {
  width: 0.28rem;
  height: 0.28rem;
  position: absolute;
  top: 50%;
  margin-top: -0.14rem;
  right: 0.24rem;
}
.navigation .return {
  height: 1.26rem;
  line-height: 1.26rem;
  position: relative;
  font-size: 0.32rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
.navigation .return:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #EDEDED;
  color: #e5e5e5;
  -webkit-transform-origin: 0 1px;
  transform-origin: 0 1px;
  -webkit-transform: scaleY(0.4);
  transform: scaleY(0.4);
  z-index: 2;
}
.addimgclass {
  transform: rotate(360deg) !important;
  -ms-transform: rotate(360deg) !important;
  /* IE 9 */
  -moz-transform: rotate(360deg) !important;
  /* Firefox */
  -webkit-transform: rotate(360deg) !important;
  /* Safari 和 Chrome */
  -o-transform: rotate(360deg) !important;
  /* Opera */
}
/*# sourceMappingURL=index1.css.map */