.Login {
  width: 100vw;
  height: 100vh;
  background: url("../../../img/Login_bg.png") fixed center center no-repeat;
  background-size: cover;
}
.Login .Login_outer {
  position: absolute;
  width: 6.9rem;
  height: 10rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -56%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Login .Login_outer .Logo {
  height: 2rem;
  line-height: 1rem;
  text-align: center;
}
.Login .Login_outer .Logo img {
  width: 6rem;
}
.Login .Login_outer .Login_box {
  width: 6.9rem;
  margin: 0 0.3rem;
  height: 5.4rem;
  background: #ffffff;
  border-radius: 0.04rem;
}
.Login .Login_outer .Login_box .Login_submit_box {
  width: 100%;
  height: 100%;
}
.Login .Login_outer .Login_box .Login_submit_box > div {
  width: 5rem;
  height: 0.6rem;
}
.Login .Login_outer .Login_box .Login_submit_box .username {
  margin-top: 0.5rem;
}
.Login .Login_outer .Login_box .Login_submit_box .username,
.Login .Login_outer .Login_box .Login_submit_box .password {
  position: relative;
  line-height: 0.6rem;
  padding: 0 0.1rem;
  border: 0.01rem solid #E2E2E2;
  margin-left: 0.95rem;
  margin-top: 0.5rem;
}
.Login .Login_outer .Login_box .Login_submit_box .username > img,
.Login .Login_outer .Login_box .Login_submit_box .password > img {
  width: 0.3rem;
  height: 0.3rem;
}
.Login .Login_outer .Login_box .Login_submit_box .username > input,
.Login .Login_outer .Login_box .Login_submit_box .password > input {
  margin-left: 0.05rem;
  width: 4rem;
  height: 0.6rem;
  padding: 0 0.1rem;
  border-left: 0.01rem solid #E2E2E2;
}
.Login .Login_outer .Login_box .Login_submit_box .username > .wrong_msg,
.Login .Login_outer .Login_box .Login_submit_box .password > .wrong_msg {
  position: absolute;
  top: 0.5rem;
  right: 0;
  color: #D61B00;
  font-size: 0.2rem;
  font-weight: bold;
}
.Login .Login_outer .Login_box .Login_submit_box .submit {
  margin-left: 0.95rem;
  margin-top: 0.5rem;
}
.Login .Login_outer .Login_box .Login_submit_box .submit > button {
  background: #65266E;
  width: 100%;
  height: 100%;
  border-radius: 0.04rem;
  color: #ffffff;
}
.Login .Login_outer .Login_box .Login_submit_box .choosebox {
  margin-left: 0.95rem;
  margin-top: 0.3rem;
  line-height: 0.4rem;
}
.Login .Login_outer .Login_box .Login_submit_box .choosebox > input {
  width: 0.25rem;
  height: 0.25rem;
  border: 0.01rem solid #CCCCCC !important;
  outline: none;
}
.Login .Login_outer .Login_box .Login_submit_box .choosebox > input:checked {
  background: url("../../../img/checked.png") center center no-repeat;
  background-size: cover;
}
.Login .Login_outer .Login_box .Login_submit_box .choosebox > label {
  vertical-align: middle;
  margin-left: 0.04rem;
  color: #666666;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular;
}
.Login .Login_outer .Login_box .Login_submit_box .choosebox > a {
  float: right;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular;
  font-weight: bold;
}
.Login .Login_outer .Login_box .Login_submit_box .msg {
  margin-left: 0.95rem;
  margin-top: 0.2rem;
  line-height: 0.3rem;
  color: #999999;
  font-size: 0.24rem;
  text-align: center;
}
.web_none {
  display: none!important;
}
/*# sourceMappingURL=message1.css.map */