.finance_content .nav_left {
  margin-bottom: 0.52rem;
}
.finance_content .nav_left .last {
  background-image: url("../../../img/activebg.png");
  background-size: 100% 100%;
  width: 6.91rem;
  height: 1.9rem;
  padding: 0.16rem;
}
.finance_content .nav_left .last > div {
  width: 6.65rem;
  height: 1.64rem;
  padding: 0.24rem 0.36rem;
  font-size: 0.28rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 0.32rem;
}
.finance_content .content_main_list > li:nth-of-type(1) .content_main .lists {
  border-bottom: 0.01rem solid #E2E2E2;
}
.finance_content .content_main_list > li:nth-of-type(1) .content_main .lists .list {
  margin-bottom: 0.52rem;
}
.finance_content .content_main_list > li:nth-of-type(1) .content_main .lists .list img {
  width: 6.9rem;
  height: 4.46rem;
  margin-bottom: 0.24rem;
}
.finance_content .content_main_list > li:nth-of-type(1) .content_main .lists .list .list-msg p:nth-of-type(1) {
  font-size: 0.3rem;
  font-weight: 500;
  color: #682a71;
  line-height: 0.42rem;
  margin-bottom: 0.18rem;
}
.finance_content .content_main_list > li:nth-of-type(1) .content_main .lists .list .list-msg p {
  font-size: 0.26rem;
  font-weight: 400;
  color: #666666;
  line-height: 0.37rem;
  margin-bottom: 0.05rem;
}
.finance_content .content_main_list > li:nth-of-type(1) .content_main .lists .list .list-msg a {
  margin-top: 0.2rem;
  display: block;
  width: 1.5rem;
  height: 0.45rem;
  border-radius: 0.04rem;
  border: 0.02rem solid #682a71;
  font-size: 0.26rem;
  font-weight: 400;
  color: #682a71;
  line-height: 0.45rem;
  text-align: center;
}
.finance_content .content_main_list > li:nth-of-type(1) .content_main .pages {
  height: 0.36rem;
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
  position: relative;
}
.finance_content .content_main_list > li:nth-of-type(1) .content_main .pages .page {
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.28rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  line-height: 0.36rem;
}
.finance_content .content_main_list > li:nth-of-type(1) .content_main .pages img:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.3rem;
  height: 0.2rem;
  transform: rotateZ(-90deg);
  margin-top: 0.1rem;
}
.finance_content .content_main_list > li:nth-of-type(1) .content_main .pages img:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.3rem;
  height: 0.2rem;
  transform: rotateZ(90deg);
  margin-top: 0.1rem;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .year > ul {
  height: 1.36rem;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .year > ul > li {
  float: left;
  width: 1.7rem;
  height: 0.6rem;
  border: 0.01rem solid #CDCDCD;
  border-left: 0;
  margin-bottom: 0.16rem;
  font-size: 0.26rem;
  font-weight: 400;
  color: #666666;
  line-height: 0.6rem;
  text-align: center;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .year > ul > li:nth-of-type(1) {
  border-left: 0.01rem solid #CDCDCD;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .year > ul > li:last-of-type {
  width: 3.4rem;
  height: 0.6rem;
  background: #ffffff;
  border: 0.01rem solid #cdcdcd;
  position: relative;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .year > ul > li:last-of-type input {
  width: 80%;
  height: 100%;
  padding-left: 0.1rem;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .year > ul > li:last-of-type .moreyesr {
  background: #ffffff;
  box-shadow: 0px 0.01rem 0.04rem 0px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  z-index: 33;
  width: 3.4rem;
  margin-top: 0.1rem;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .year > ul > li:last-of-type .moreyesr ul li {
  height: 0.5rem;
  font-size: 0.26rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  line-height: 0.5rem;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .year > ul .choose {
  border: 1px solid #682A71 !important;
  color: #682A71;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details {
  margin-top: 0.42rem;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details .lists {
  width: 100%;
  overflow: hidden;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details .lists .list {
  width: 3.3rem;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details .lists .list .list-img {
  height: 2.18rem;
  position: relative;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details .lists .list .list-img > img {
  width: 3.17rem;
  height: 2.05rem;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -0.13rem 0.13rem 0 #EDE7EE;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details .lists .list .list-img div {
  width: 0.45rem;
  height: 0.45rem;
  background: #ffffff;
  box-shadow: 0px 0px 0.05rem 0px #afafaf;
  position: absolute;
  z-index: 333;
  bottom: 0;
  right: 0.13rem;
  text-align: center;
  line-height: 0.45rem;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details .lists .list .list-img div img {
  width: 75%;
  height: 75%;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details .lists .list p {
  margin-top: 0.13rem;
  font-size: 0.3rem;
  font-weight: 500;
  color: #333333;
  line-height: 0.42rem;
  margin-bottom: 0.36rem;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details .lists .list:nth-of-type(2n) {
  float: right;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details .lists .list:nth-of-type(2n+1) {
  float: left;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details .pages {
  height: 0.36rem;
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
  position: relative;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details .pages .page {
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.28rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  line-height: 0.36rem;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details .pages img:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.3rem;
  height: 0.2rem;
  transform: rotateZ(-90deg);
  margin-top: 0.1rem;
}
.finance_content .content_main_list > li:nth-of-type(2) .content_main .details .pages img:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.3rem;
  height: 0.2rem;
  transform: rotateZ(90deg);
  margin-top: 0.1rem;
}
/*# sourceMappingURL=message1.css.map */