.finance_iconBox .iconBox_right > span.iconBox_right_2:nth-of-type(1) {
  display: inline-block;
  margin-right: 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding: 0;
}
.finance_iconBox .iconBox_right > span.iconBox_right_2:nth-of-type(1) img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.finance_iconBox .iconBox_right > span.iconBox_right_2:nth-of-type(2) {
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
}
.finance_content {
  width: 800px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 0px #cacaca;
  margin: 0 auto 120px;
  position: relative;
  padding-top: 260px;
}
.finance_content > div:nth-of-type(1) {
  width: 800px;
  position: absolute;
  left: 0;
  top: 0;
  background: #882f97;
}
.finance_content > div:nth-of-type(1) > p:nth-of-type(1) {
  height: 125px;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  line-height: 33px;
  text-align: center;
  padding: 46px 58px;
}
.finance_content > div:nth-of-type(1) ul {
  overflow: hidden;
}
.finance_content > div:nth-of-type(1) ul li {
  width: 33%;
  height: 54px;
  background: #882f97;
  border-bottom: 1px solid #ae57bc;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 25px;
  padding: 15px 20px;
  float: left;
}
.finance_content > div:nth-of-type(1) ul .choose {
  background: #efdff2;
  position: relative;
  color: #882f97;
}
.finance_content > div:nth-of-type(1) ul .choose:before {
  position: absolute;
  content: '';
  width: 4px;
  height: 54px;
  background: #63236c;
  left: 0;
  top: 0;
}
.finance_content > div:nth-of-type(2) {
  width: 800px;
}
.finance_content > div:nth-of-type(2) .choose2 li {
  display: none;
  padding: 0px 30px 30px;
}
.finance_content > div:nth-of-type(2) .choose2 .choose {
  display: block;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg > span {
  display: inline-block;
  height: 28px;
  font-size: 20px;
  font-weight: 400;
  color: #8f5497;
  line-height: 28px;
  margin-bottom: 20px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 > div {
  height: 70px;
  margin-top: 20px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 > div:first-of-type {
  margin-top: 0;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 > div > div {
  width: 360px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 > div > div p:nth-of-type(1) {
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 22px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 > div > div p:nth-of-type(1) span {
  color: #D61B00;
  margin-left: 4px;
  vertical-align: middle;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 > div > div input {
  width: 360px;
  height: 35px;
  border: 1px solid #e2e2e2;
  padding-left: 20px;
  color: #333;
  font-size: 16px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 > div > div:nth-of-type(1) {
  float: left;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 > div > div:nth-of-type(2) {
  float: right;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 .basename > div {
  width: 360px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 .basename > div:nth-of-type(1) {
  float: left;
  vertical-align: middle;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 .basename > div:nth-of-type(1) p {
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 22px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 .basename > div:nth-of-type(1) p span {
  color: #D61B00;
  margin-left: 4px;
  vertical-align: middle;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 .basename > div:nth-of-type(1) input {
  width: 360px;
  height: 35px;
  border: 1px solid #e2e2e2;
  padding-left: 20px;
  color: #333;
  font-size: 16px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 .basename > div:nth-of-type(2) {
  float: right;
  position: relative;
  height: 70px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 .basename > div:nth-of-type(2) > img {
  position: absolute;
  left: 62px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  bottom: 4px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 .basename > div:nth-of-type(2) a {
  display: block;
  position: absolute;
  bottom: 0;
  left: 200px;
  height: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #8f5497;
  line-height: 22px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 .basename > div:nth-of-type(2) a img {
  width: 19px;
  height: 19px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 > div:nth-of-type(2) > div:nth-of-type(2) div {
  overflow: hidden;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 > div:nth-of-type(2) > div:nth-of-type(2) div input:nth-of-type(1) {
  width: 98px;
  float: left;
  height: 35px;
  border: 1px solid #e2e2e2;
  margin-right: 8px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .base1 > div:nth-of-type(2) > div:nth-of-type(2) div input {
  float: left;
  width: 254px;
  height: 35px;
  border: 1px solid #e2e2e2;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .communication-address {
  width: 740px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .communication-address input {
  width: 740px!important;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .havetu {
  position: relative;
  background: url("../../../img/day.png") no-repeat scroll transparent !important;
  background-size: 16px 18px!important;
  background-position: 330px center!important;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .select1 {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 360px;
  height: 35px;
  border: 1px solid #e2e2e2;
  background: url("../../../img/down1.png") no-repeat scroll transparent;
  background-size: 16px 18px;
  background-position: 330px center;
  padding-left: 20px;
  color: #333;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .where {
  height: 70px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .where > div .select2 {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 177px;
  height: 35px;
  border: 1px solid #e2e2e2;
  background: url("../../../img/down1.png") no-repeat scroll transparent;
  background-size: 16px 18px;
  background-position: 153px center;
  padding-left: 20px;
  color: #333;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > div.basemsg .where > div .select2:nth-of-type(2) {
  float: right;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 {
  margin-top: 52px;
  position: relative;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 span {
  display: inline-block;
  height: 28px;
  font-size: 20px;
  font-weight: 400;
  color: #8f5497;
  line-height: 28px;
  margin-bottom: 20px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 {
  width: 740px;
  background: #f4f4f4;
  border: 1px solid #e2e2e2;
  padding: 30px 20px;
  padding-bottom: 0;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 > div {
  width: 340px;
  height: 69px;
  margin-bottom: 20px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 > div p {
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 22px;
  margin: 0;
  margin-bottom: 12px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 > div p span {
  color: #D61B00;
  margin-left: 4px;
  margin-bottom: 0;
  vertical-align: middle;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 > div input {
  width: 340px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  padding-left: 20px;
  color: #333;
  font-size: 16px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 > div:nth-of-type(2n) {
  float: right;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 > div:nth-of-type(2n+1) {
  float: left;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 .select1 {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 340px;
  height: 35px;
  border: 1px solid #e2e2e2;
  background: url("../../../img/down1.png") no-repeat scroll transparent;
  background-size: 16px 18px;
  background-position: 315px center;
  padding-left: 20px;
  color: #333;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 .havetu {
  background: url("../../../img/day.png") no-repeat scroll transparent;
  background-size: 16px 18px;
  background-position: 315px center;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 .yearss {
  position: relative;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 .yearss img {
  position: absolute;
  right: 10px;
  bottom: 8px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 .select22 div {
  width: 165px;
  height: 35px;
  background: #ffffff;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 .select22 div:nth-of-type(1) {
  float: left;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 .select22 div:nth-of-type(2) {
  float: right;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school1 .select22 div .select2 {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 165px;
  height: 35px;
  border: 1px solid #e2e2e2;
  background: url(../../../img/down1.png) no-repeat scroll transparent;
  background-size: 16px 18px;
  background-position: 140px center;
  padding-left: 20px;
  color: #333;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 {
  width: 740px;
  background: #f4f4f4;
  border: 1px solid #e2e2e2;
  padding: 30px 20px;
  padding-bottom: 0;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 > div {
  width: 340px;
  height: 69px;
  margin-bottom: 30px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 > div p {
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 22px;
  margin: 0;
  margin-bottom: 12px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 > div p span {
  color: #D61B00;
  margin-left: 4px;
  margin-bottom: 0;
  vertical-align: middle;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 > div input {
  width: 340px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  padding-left: 20px;
  color: #333;
  font-size: 16px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 > div:nth-of-type(2n) {
  float: right;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 > div:nth-of-type(2n+1) {
  float: left;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .select1 {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 340px;
  height: 35px;
  border: 1px solid #e2e2e2;
  background: url("../../../img/down1.png") no-repeat scroll transparent;
  background-size: 16px 18px;
  background-position: 315px center;
  padding-left: 20px;
  color: #333;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .havetu {
  background: url("../../../img/day.png") no-repeat scroll transparent;
  background-size: 16px 18px;
  background-position: 315px center;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .yearss {
  position: relative;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .yearss img {
  position: absolute;
  right: 10px;
  bottom: 8px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .select22 div {
  width: 165px;
  height: 35px;
  background: #ffffff;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .select22 div:nth-of-type(1) {
  float: left;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .select22 div:nth-of-type(2) {
  float: right;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .select22 div .select2 {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 165px;
  height: 35px;
  border: 1px solid #e2e2e2;
  background: url(../../../img/down1.png) no-repeat scroll transparent;
  background-size: 16px 18px;
  background-position: 140px center;
  padding-left: 20px;
  color: #333;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .object {
  width: 100%;
  height: auto;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .object > div:nth-of-type(1) span {
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 22px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .object > div:nth-of-type(1) span:nth-of-type(2) {
  color: #D61B00;
  margin-left: 4px;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 20px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .object > div:nth-of-type(1) a img {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .object > div:nth-of-type(2) {
  width: 100% ;
  position: relative;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .object > div:nth-of-type(2) input {
  width: 675px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  margin-top: 15px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .object > div:nth-of-type(2) input:nth-of-type(1) {
  margin-top: 0;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .object > div:nth-of-type(2) a {
  position: absolute;
  bottom: 7px;
  right: -3px;
  width: 20px;
  height: 20px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .school2 .object > div:nth-of-type(2) a img {
  width: 100%;
  height: 100%;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .more {
  width: 740px;
  height: 40px;
  border: 1px dashed #b3b3b3;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 > div .more a {
  color: #b3b3b3;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 .disapple {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base2 .disapple img {
  width: 100%;
  height: 100%;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 {
  margin-top: 52px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 span {
  display: inline-block;
  height: 28px;
  font-size: 20px;
  font-weight: 400;
  color: #8f5497;
  line-height: 28px;
  margin-bottom: 20px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) {
  width: 740px;
  height: 329px;
  background: #f4f4f4;
  border: 1px solid #e2e2e2;
  margin-bottom: 20px;
  position: relative;
  padding: 30px 20px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > a {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > a img {
  width: 100%;
  height: 100%;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div {
  width: 340px;
  height: 69px;
  margin-bottom: 30px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div .select1 {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 340px;
  height: 35px;
  border: 1px solid #e2e2e2;
  background: url("../../../img/down1.png") no-repeat scroll transparent;
  background-size: 16px 18px;
  background-position: 345px center;
  padding-left: 20px;
  color: #333;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div .havetu {
  background: url("../../../img/day.png") no-repeat scroll transparent;
  background-size: 16px 18px;
  background-position: 345px center;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div p {
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 22px;
  margin: 0;
  margin-bottom: 12px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div p span {
  color: #D61B00;
  margin-left: 4px;
  margin-bottom: 0;
  vertical-align: middle;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div input {
  width: 340px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  padding-left: 20px;
  color: #333;
  font-size: 16px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div > div {
  position: relative;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div > div img {
  position: absolute;
  right: 10px;
  bottom: 8px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div > div .select22 div {
  width: 165px;
  height: 35px;
  background: #ffffff;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div > div .select22 div:nth-of-type(1) {
  float: left;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div > div .select22 div:nth-of-type(2) {
  float: right;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div > div .select22 div .select2 {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 165px;
  height: 35px;
  border: 1px solid #e2e2e2;
  background: url(../../../img/down1.png) no-repeat scroll transparent;
  background-size: 16px 18px;
  background-position: 140px center;
  padding-left: 20px;
  color: #333;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div:nth-of-type(2n) {
  float: right;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div > div:nth-of-type(1) > div:nth-of-type(2n+1) {
  float: left;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div .more {
  width: 740px;
  height: 40px;
  border: 1px dashed #b3b3b3;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) > .base3 > div .more a {
  color: #b3b3b3;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(1) .newmsg {
  width: 124px;
  height: 36px;
  background: #882f97;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 36px;
  text-align: center;
  margin-top: 52px;
  margin-bottom: 70px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(2) {
  height: 624px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(2) > p {
  height: 28px;
  font-size: 20px;
  font-weight: 400;
  color: #8f5497;
  line-height: 28px;
  margin-bottom: 30px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(2) > div > div {
  position: relative;
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid #e4e4e4;
  overflow: hidden;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(2) > div > div p:nth-of-type(1) {
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 20px;
  margin-top: 15px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(2) > div > div p:nth-of-type(2) {
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #999999;
  line-height: 22px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(2) > div > div p:nth-of-type(2) span {
  color: #4CAA32;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(2) > div > div a {
  position: absolute;
  display: block;
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #2985dc;
  line-height: 22px;
  right: 0;
  bottom: 15px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div {
  margin-top: 42px;
  padding-bottom: 42px;
  border-bottom: 1px solid #d8d8d8;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:nth-of-type(1) {
  margin-top: 0;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:last-of-type {
  border: 0;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:last-of-type > div > div:nth-of-type(1) p:nth-of-type(1) {
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 22px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:last-of-type > div > div:nth-of-type(1) p:nth-of-type(2) {
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  line-height: 20px;
  margin: 5px 0;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:last-of-type > div > div:nth-of-type(1) p:nth-of-type(3) {
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  line-height: 20px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div > p:nth-of-type(1) {
  height: 28px;
  font-size: 20px;
  font-weight: 400;
  color: #8f5497;
  line-height: 28px;
  margin-bottom: 42px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div > div {
  position: relative;
  margin-bottom: 20px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div > div > div:nth-of-type(1) {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 22px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div > div .btns {
  position: absolute;
  height: 20px;
  right: 0;
  top: 0;
  width: 100px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div > div .btns > span {
  display: block;
  float: right;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div > div .btns > div:nth-of-type(1) {
  float: right;
  width: 38px;
  height: 20px;
  border-radius: 31px;
  cursor: pointer;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div > div .btns > div:nth-of-type(1) > div {
  width: 18px;
  height: 18px;
  background: #ffffff;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.1), 0px 4px 23px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-top: 1px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div > div .btns.nochoose > span {
  color: #999999;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div > div .btns.nochoose > div:nth-of-type(1) {
  background: #c8c8c8;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div > div .btns.nochoose > div:nth-of-type(1) > div {
  float: left;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div > div .btns.choose > span {
  color: #882f97;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div > div .btns.choose > div:nth-of-type(1) {
  background: #882f97;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div > div .btns.choose > div:nth-of-type(1) > div {
  float: right;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:nth-of-type(2) > div > div:nth-of-type(1) > p:nth-of-type(1) {
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 22px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:nth-of-type(2) > div > div:nth-of-type(1) > p:nth-of-type(2) {
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  line-height: 20px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:nth-of-type(2) > div > div:nth-of-type(1) > div p {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  line-height: 20px;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:nth-of-type(2) > div > .btns.choose > div {
  background: #882f97;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:nth-of-type(2) > div > .btns.choose > div div {
  float: right;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:nth-of-type(2) > div > .btns.choose span {
  color: #882f97;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:nth-of-type(2) > div > .btns.nochoose > div {
  background: #c8c8c8;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:nth-of-type(2) > div > .btns.nochoose > div div {
  float: left;
}
.finance_content > div:nth-of-type(2) .choose2 > li:nth-of-type(3) > div:nth-of-type(2) > div > .btns.nochoose span {
  color: #c8c8c8;
}
/*# sourceMappingURL=safe2.css.map */